// sass assets/css/app.scss:assets/css/app.css
// OR
// sass --watch assets/css/app.scss:assets/css/app.css

@import 'scss/_c-button.scss';
@import 'scss/_c-modal.scss';
@import 'scss/_m-menu.scss';
@import 'scss/_m-table-animals.scss';

:root {
    --dark: #444444;
    --main-green: #00CC00;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: var(--dark);
    padding-top: 0;
    min-width: 304px;
}

@media (min-width: 769px) {
    body {
        padding-top: 105px;
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
}

h2, h3 {
    text-align: left;
}

h2:before, h3:before {
    content: "";
    display: inline-block;
    width: 0.75rem;
    border-bottom: 3px solid var(--main-green);
    margin-right: 0.25rem;
}

a, a:visited {
    color: var(--main-green);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a.isActive {
    border-bottom: 2px solid var(--main-green);
}

#description-generale {
    margin-bottom: 20px;
}

#infos-pratiques {
    text-align: center;
}

#form-add-animal, #form-update-animal {
    margin: 2rem 0;

    label {
        width: 150px;
    }

    input, textarea {
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        flex-grow: 1;

        &:focus {
            outline: 2px solid var(--main-green);
        }
    }
}

#form-update-animal {
    input {
        display: block;
    }

    input[type="submit"] {
        margin-top: 15px;
    }
}

#perso-list {
    li {
        margin: 10px 0;
    }
}

#contact {
    width: 500px;
    margin: 0 auto;

    .container-field {
        display: flex;
        align-items: center;
        margin: 10px auto;

        label {
            width: 150px;
        }

        input, textarea {
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            flex-grow: 1;

            &:focus {
                outline: 2px solid var(--main-green);
            }
        }
    }
}
