.Button--green {
  background-color: var(--main-green);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }

.admin-button, .user-button {
  display: none; }

#modal-target {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  #modal-target .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }
    #modal-target .modal-content .modal-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold; }
      #modal-target .modal-content .modal-close:hover, #modal-target .modal-content .modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; }
    #modal-target .modal-content #form-account div {
      margin-bottom: 5px; }
    #modal-target .modal-content #form-account label {
      display: inline-block;
      width: 150px; }
    #modal-target .modal-content #form-account input {
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      flex-grow: 1; }
      #modal-target .modal-content #form-account input:focus {
        border-color: transparent;
        outline: 2px solid var(--main-green); }

.Menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333333; }
  .Menu-container .Menu-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .Menu-container .Menu-nav .Menu-li {
      display: block;
      margin: 5px; }
    @media (max-width: 575px) {
      .Menu-container .Menu-nav .Menu-li {
        margin-bottom: 10px; } }
    .Menu-container .Menu-nav .Menu-with-submenu {
      display: inline;
      position: relative; }
      .Menu-container .Menu-nav .Menu-with-submenu__ul {
        list-style-type: none;
        position: absolute;
        background-color: #363636;
        display: none;
        margin: 0;
        padding: 1rem;
        width: 150px;
        left: 50%;
        transform: translateX(-50%); }
      .Menu-container .Menu-nav .Menu-with-submenu__li {
        padding: 0.5rem 0; }
      .Menu-container .Menu-nav .Menu-with-submenu__a {
        cursor: pointer;
        color: white;
        text-transform: none;
        font-weight: normal; }
      .Menu-container .Menu-nav .Menu-with-submenu:hover .Menu-with-submenu__ul {
        display: block; }

@media (max-width: 768px) {
  .Menu-container {
    position: initial; } }
@media (max-width: 768px) {
  #animaux thead {
    display: none; }
  #animaux tr {
    display: block;
    margin-bottom: 40px; }
  #animaux td {
    display: block;
    text-align: right; }
    #animaux td:before {
      float: left;
      font-weight: bold; } }
#animaux {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; }

#animaux thead {
  background-color: green; }

#animaux tr:nth-child(even) {
  background-color: #333333; }

#animaux tr:hover {
  background-color: green; }

#animaux td, #animaux th {
  overflow: hidden;
  text-align: center;
  border: 1px solid black; }

#animaux img {
  width: 200px;
  height: 200px;
  object-fit: cover; }

:root {
  --dark: #444444;
  --main-green: #00CC00; }

.hidden {
  display: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: var(--dark);
  padding-top: 0;
  min-width: 304px; }

@media (min-width: 769px) {
  body {
    padding-top: 105px; } }
h1 {
  font-size: 2.5rem;
  line-height: 1;
  text-align: center; }

h2, h3 {
  text-align: left; }

h2:before, h3:before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  border-bottom: 3px solid var(--main-green);
  margin-right: 0.25rem; }

a, a:visited {
  color: var(--main-green);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }

a.isActive {
  border-bottom: 2px solid var(--main-green); }

#description-generale {
  margin-bottom: 20px; }

#infos-pratiques {
  text-align: center; }

#form-add-animal, #form-update-animal {
  margin: 2rem 0; }
  #form-add-animal label, #form-update-animal label {
    width: 150px; }
  #form-add-animal input, #form-add-animal textarea, #form-update-animal input, #form-update-animal textarea {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    flex-grow: 1; }
    #form-add-animal input:focus, #form-add-animal textarea:focus, #form-update-animal input:focus, #form-update-animal textarea:focus {
      outline: 2px solid var(--main-green); }

#form-update-animal input {
  display: block; }
#form-update-animal input[type="submit"] {
  margin-top: 15px; }

#perso-list li {
  margin: 10px 0; }

#contact {
  width: 500px;
  margin: 0 auto; }
  #contact .container-field {
    display: flex;
    align-items: center;
    margin: 10px auto; }
    #contact .container-field label {
      width: 150px; }
    #contact .container-field input, #contact .container-field textarea {
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      flex-grow: 1; }
      #contact .container-field input:focus, #contact .container-field textarea:focus {
        outline: 2px solid var(--main-green); }

/*# sourceMappingURL=app.css.map */
