.Button--green {
    background-color: var(--main-green);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.admin-button, .user-button {
    display: none;
}
