#modal-trigger {
    //
}

#modal-target {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;

        .modal-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover, &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }

        #form-account {
            div {
                margin-bottom: 5px;
            }

            label {
                display: inline-block;
                width: 150px;
            }

            input {
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                flex-grow: 1;

                &:focus {
                    border-color: transparent;
                    outline: 2px solid var(--main-green);
                }
            }
        }
    }
}
