.Menu-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #333333;

    .Menu-nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .Menu-li {
            display: block;
            margin: 5px;
        }

        @media (max-width: 575px) {
            .Menu-li {
                margin-bottom: 10px;
            }
        }

        .Menu-with-submenu {
            display: inline;
            position: relative;

            &__ul {
                list-style-type: none;
                position: absolute;
                background-color: #363636;
                display: none;
                margin: 0;
                padding: 1rem;
                width: 150px;
                left: 50%;
                transform: translateX(-50%);
            }

            &__li {
                padding: 0.5rem 0;
            }

            &__a {
                cursor: pointer;
                color: white;
                text-transform: none;
                font-weight: normal;
            }

            &:hover {
                .Menu-with-submenu__ul {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .Menu-container {
        position: initial;
    }
}
