@media (max-width: 768px) {
    #animaux {
        thead {
            display: none;
        }

        tr {
            display: block;
            margin-bottom: 40px;
        }

        td {
            display: block;
            text-align: right;

            &:before {
                float: left;
                font-weight: bold;
            }
        }
    }
}

#animaux {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#animaux thead {
    background-color: green;
}

#animaux tr:nth-child(even) {
    background-color: #333333;
}

#animaux tr:hover {
    background-color: green;
}

#animaux td, #animaux th {
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
}

#animaux img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
